body {
    font-family: Arial, sans-serif;
    box-sizing: border-box; 
    background-image: url(backimage2.jpg);
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #bdbdbd;
    border: 1px solid #494949;
    border-radius: 5px;
}
h1 {
    text-align: center;
}
#taskInput {
    margin-bottom: 20px;
}
#taskInput input[type="text"] {
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ada4a4;
}
#taskInput button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
#taskInput button:hover {
    background-color: #0056b3;
}
.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.task label {
    margin-left:5px;
    margin-right: 20px;
}
.completed {
    color: #0b982c;
    text-decoration: line-through;   
}
